.env
nodes_modules
.dockerignore
API_DOCUMENTATION.nd
node_modules

/src/generated/prisma/
nginx.dev.conf

docker-compose.dev.yaml
b/.gitignore
prisma.config.js*
prisma.config.d.ts*
prisma.config.js
prisma.config.js.map
prisma.config.js.bak
prisma.config.d.ts
prisma.config.d.ts.map
